.header-container{
    height: 60px;
    background-color: rgba(17, 67, 117, 255);
    /* background-color: rgba(18, 109, 123, 255); */
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.logo-container{
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 20px;
}

.logo{
    height: 80%;
    margin-right: 10px;
}
.app-name{
    color: rgba(215, 223, 231, 255);
}

.user-container{
    color: rgba(215, 223, 231, 255);
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.avatar{
    margin-left: 10px;
}