.input-item-container{
    margin-top: 20px;
    /* margin-left: 50px; */
}

.item-tag{
    cursor: pointer;
}

.button{
    background-color:rgb(28, 119, 177);
    /* background-color: rgba(17, 67, 117, 255); */
    color: white;
}