
.login-container{
    min-height: 100vh;
    /* background-color: rgb(150, 181, 243); */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/background.jpg);
    background-size: cover;
}

.login-form {
    padding: 50px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.register{
    margin-top: 10px;
}

.login-form-button {
    width: 100%;
}