
.login-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/background.jpg);
    background-size: cover;
}

.login-form {
    padding: 50px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    background-color:white;
    width: 400px;
}


.login-title{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size:xx-large;
    font-weight:600;
    color:rgba(11, 111, 165, 255)
}

.register{
    margin-top: 10px;
    /* color: rgba(11, 111, 165, 255); */
}

.login-form-button {
    width: 100%;
    background-color: rgba(11, 111, 165, 255);
}

.remember-me{
    /* color:rgba(11, 111, 165, 255); */
}

.register-now{
    color: rgba(11, 111, 165, 255);
}

