
.login-container{
    min-height: 100vh;
    /* background-color: rgb(150, 181, 243); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.register{
    margin-top: 10px;
}

.login-form-button {
    width: 100%;
}