*{
    margin: 0px;
    padding: 0px;
}

.navbar-container{
    /* background-color: rgba(0, 22, 40, 255); */
    background-color: #21507e;
    height: 100%;
    /* height: 1000px; */
}

.navbar{
    list-style-type: none;
    
}

.navbar-item{
    height: 70px;
    font-size: 20px;
    
    line-height: 70px;
    padding-left: 30px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin: 10px;
    /* background-color: rgba(4, 66, 51, 255)!important; */
}



/* .navbar-item:hover {
    /* background-color: rgba(10, 134, 106, 255)!important; */
/* } */

.navbar-item:hover *{
    color: white;
}

.navbar-anchor{
    display: block;
    /* color: rgba(140, 150, 159, 255); */
}

.navbar-item-title{
    margin-left: 10px;
    /* color: white */
}

.first-item{
    margin-top: 0px;
}

