.title-row{
    background-color:rgba(250, 250, 250, 255);
    height: 65px;
}

.title-col, .content-col,.content-col-name{
    display: flex;
    align-items: center;
}

.title-text{
    font-size: 15px;
}

.title-divider,.content-divider{
    height: 25px;
    margin-right: 20px;
}

.content-row{
    height: 65px;
}

.content-row:hover{
    background-color: rgba(245, 245, 255, 255);
}

.content-divider{
    opacity: 0;
}

.delete-icon{
    cursor: pointer;
    margin-left: 20px;
}